:root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color_green:#73e67d;
    --color_red:#f56b76;
    --color_yellow:#ecea44;

}
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:rgb(61, 61, 61);
}
a:hover{
    transition: 500ms;
}

.container{
    margin-top:5%;
}
.corpoPagina{
    display:flex;
    flex-direction: column;
}
.navBar{
    font-weight: bold;
    display:flex;
    text-align: center;
    justify-content: center;
}
#simulador{
    color: #264413 ;
}
#contato{
    color: #6e5d2d 
}
.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items:center;
    border-bottom:1px solid rgb(160, 160, 160);
    padding:1vh;
}
.elementosNav li{
    font-size: 20px;
}

#ultimo{
    margin:0;
}
.alinhamento{
    border-bottom: 2px solid black;
    width:50%;
    margin:10px;
    
}
.elementosNav{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
}
.login img{
    width:30px;
    margin-right: 40px;
}
#imagemEntrar{
    justify-content: right;
}
.navBar {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-between;
}

.liNav {
    margin-right: 50px;
  
}
.content{
    display: flex;
    justify-content: center;
    
}
button{
    padding:5px;
    margin-top:2vw;
    width:20%;
    height: 7vh;
    border: none;
    font-weight: bold;
    font-size:16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.elementoContatos{
    margin-top:3%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width:50%;
    padding: 25px;
    margin-bottom:4%;
    background-image: linear-gradient(to right, #94D57B, #aed040);
}
input{
    display: flex;
    padding: 5px ;
    border: none;
    background-color: rgb(242, 236, 236);
    margin-top:3%;
    height:4vh;
    text-align:start;
    width: 60%;
}
#mensagem{
    display: flex;
    height:15vh;
    width:60%;
    text-align: start;
}

.tudo{
    background-color: rgb(233, 229, 229);
}

.logo {
    cursor: pointer;
}

